streamlit
requests
beautifulsoup4
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
# Remove blis==0.7.11 --no-build and rely on spacy's precompiled dependencies